# Ignore Docker volumes
volumes/
postgres_data/
redis_data/
redisvolumes/
rabbitmq_data/
# ollama/

# Ignore Docker-related files
*.log
docker-compose.override.yml
.env

# Ignore node_modules for Node.js projects
node_modules/

# Ignore Python virtual environments
venv/
__pycache__/

# Ignore build directories
build/
dist/